@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

$dark-primary-color: #1976D2;
$light-primary-color: #BBDEFB;
$primary-color: #2196F3;
$white-color: #FFFFFF;
$black-color: #212121;
$gray-color: #757575;
$light-gray-color: #BDBDBD;
$accent-color: #536DFE;

$pad: 0.5em;

$font-title: 'Oswald', sans-serif;
$font-main: 'Open Sans', monospace;
