@import "vars";

.auth-form {
  text-align: center;
  margin: 1em auto;
  width: 25%;

  input {
    border: 1px solid black;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
  }

  button {
    padding: 0.2em;

    &:active {
      transform: translateY(1px);
    }

    &:visited {
      color: $dark-primary-color;
    }

    &:hover {
      background-color: $light-primary-color;
      cursor: pointer;
    }
  }
  
  // button:hover {
  // }
}
