@import "vars";

.upload-view {
  text-align: center;
  margin: 1em auto;
  width: 25%;

  .populated-field {
    border: 1px solid black;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
  }

  button {
    padding: 0.2em;
  }

  button:hover {
    cursor: pointer;
  }
}
